<div class="container">
  <footer class = "footer">
    <small>
      Copyright &copy; <a href="https://www.udemy.com">RubyRails</a>
      by <a href = "http://www.wanlanhe.com"> iheartwifi</a>
    </small>
      <nav>
        <ul>
          <li><%= link_to "home", root_path %></li>
        </ul>
      </nav>
  </footer>
</div>